.catContainer{
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
}
 #cat{
    margin: 3px;
    font-size: 18px;
    font-weight: 400;
    color: #313131;
    font-family: 'Federo', sans-serif;
    font-weight: 700;

}
.catBtn{
    border: 0px solid #ffd501;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius:20px;
    outline: none;
    background-color: #f2a270;
    width: max-content;
    box-shadow: -1px 1px  0.5px #ff8800;}

.catBtn:focus
{
    background-color: white;
    color: #ff8800;
    border: 2px dotted #ff8800;
    box-shadow: -1px 1px 5px #ff8800;


}

ul{
    list-style: none;
    display: inline-flex;
    margin: 3px 0px 3px 0px;
    /* box-shadow: 0px 0px  3px rgba(0, 0, 0, 0.2); */
}
li{
    margin: 0 10px 0 10px;
}