@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
body{
    background-image: url(https://cdn.pixabay.com/photo/2020/06/29/18/51/honey-5353837_960_720.jpg);
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    color: rgb(12, 12, 12);
    overflow-y: hidden;


}
body:before {
	content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #ffffffaf;
    z-index: -5;
}
h1{
    font-family: 'Federo', sans-serif;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 0px 1px 30px 30px;
    box-shadow: 0px 5px 15px rgba(14, 14, 14, 0.2);
    align-items: center;
    height: 58px;
}
header > div{
    display: flex;
    flex-wrap: nowrap;
}
header > h1{
    color: orange;
    font-size: 24px;
    font-family: 'Federo', sans-serif;
}

.container{
  margin: 5%;
}
.logo{
    margin: auto;
    margin-top: 100px;
    border-radius: 50%;
    position: relative;
    width: 200px;

}
.logoSmall{
    width: 80px;
}
.rrss{
    width: 20px;
    margin: 5px;
}
h2{
    margin-top: 10vh;
}
.actionBtn{
    background-color: #ff8800;
    color: white;
    border:none;
    padding: 10px;
    font-size: 18px;
    /* margin-top: 5vh; */
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    outline: none;
    font-weight: 700;
    margin:20px;
}
footer{
    position: fixed ;
   bottom: 0px;
   background-color: white;
   width: 100%;
   display: flex;
   justify-content: space-between;
   box-shadow: 0px -5px 15px rgba(14, 14, 14, 0.2);
   border-radius: 5px 5px 0px 0px;
}
footer > div{
    margin:auto;
}
footer > div > p{
    text-align: left;
    margin-left: 0px;
    font-size: 12px;
}
.backBtn{
    background-color:transparent;
    border: none;
    vertical-align: middle;

}
.cartTitle{
    display: grid;
    grid-template-columns: 10% 80%;
}
btnIcon{
    width: 15px;
}

.msj{
    margin: 15px 15px 5px 15px;
    font-family: 'Lato';
    font-size: 14px;
    color: black;
}
.emptyCart{
    background-color: white;
    margin: 20px;
    margin-top: 10vh;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 15%)
}
/*card styles */
.emptyCart > h3{
    font-family: 'Federo';
    color:rgb(0, 0, 0);
}
